.container_button_play{
    /* height: 500px;
    position:relative; */
}
.button_play{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.partida {

}

.partida__respuesta {
    
}

.respuestas__body {
    width: 100%;
    height: 100%;
    background-color: #46c7e8;
    justify-content: center;
    outline: none;
    text-align: center;
    margin:5px;
    transition: background-color 0.2s;
    cursor:pointer;
    color:white;
    border:0;
    border-radius: 10px;
}

.respuestas__body:hover{
    background-color: darkorange;
    color: white;
    border:0;
}

.respuestas__footer {
    display: inline-flex;
    width: 10%;
    height: 5%;
    background-color: rgb(231, 231, 231);
    justify-content: center;
    border: 0.5px solid black;
}

.respuesta__correcta {
    width: 100%;
    height: 100%;
    background-color: green;
    text-align: center;
}

.respuesta__incorrecta {
    width: 100%;
    height: 100%;
    background-color: red;
    text-align: center;
}

/*Navbar CSS*/
.body-section{
    /* height: 100vh; */
    /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('https://images.hdqwalls.com/download/churei-tower-mount-fuji-in-japan-8k-68-7680x4320.jpg'); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white; */
}
.nav-container{
    width: 90%;
    margin:0 auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .nav-links li{
    transition: color .2s ease;
    color: rgb(215, 215, 215);
}

.navbar .nav-links li:hover {
    color: black;
    cursor: pointer;
}

/*list items one to left and another right*/

/* .navbar .nav-links li:first-child{
    float: left;
}

.navbar .nav-links li{
    float: right;
} */

.nav-links{
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*div que contingui totes les cartes*/
.game__cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__result{
    text-align: center;
}

/*tag tipus card*/
.question__card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@media only screen and(max-width:768px){
    .respuestas__body{
        width: 100%;
        height: 100%;
    }
    .question__card{
        max-width: 90vw;
    }
}

@media only screen and(max-width:992px){
    .question__card{
        max-width: 80vw;
        max-height: 70vh;
        height: 50rem;
    }
}