/*----Implement Web Font type League of Legends----*/
@font-face {
    font-family: 'LeagueOfLegendsWebFont';
    src: url('./webfont/FrizQua-ReguOS.eot'); /* IE9 Compat Modes */
    src: url('./webfont/FrizQua-ReguOS.woff') format('woff'), /* Modern Browsers */
         url('./webfont/Friz\ Quadrata\ Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./webfont/FrizQua-ReguOS.svg') format('svg'); /* Legacy iOS */
}

@font-face{
    font-family: 'LeagueOfLegendsWebFontBold';
    src: url('./webfont/FrizQuadrataBold.eot'); /* IE9 Compat Modes */
    src: url('./webfont/FrizQuadrataBold.woff') format('woff'), /* Modern Browsers */
         url('./webfont/Friz\ Quadrata\ Bold.otf')  format('opentype'), /* Safari, Android, iOS */
         url('./webfont/FrizQuadrataBold.svg') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

body{
    /* background: #222; */
    /* background: #192734; */
    background: #131920;
    margin:1%;
    /* font-family: 'Andada Pro', serif; */
    /* font-family: 'LeagueOfLegendsWebFont'; */
}

.container_button_play{
    /* height: 500px;
    position:relative; */
    font-family: 'Sora', sans-serif;
}

/*CSS of PLAY button*/
.div_button_play{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.button__play {
    width: 100px;
    height: 50px;
    border:none;
    border-radius: 50px;
    font-family: 'LeagueOfLegendsWebFont';
    font-weight: bolder;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    mix-blend-mode: color-dodge; 
    perspective: 500px;
    transform-style: preserve-3d;
    cursor: pointer;
    color:white;
    line-height: 40px;
    padding: 0;
    border: none;
    background-color: #131920;
  }
  .button__play{
    color: #fff352;
    border: 1px solid #fff352;
    box-shadow: 0 0 5px #fff352, 0 0 5px #fff352 inset;
    z-index: 2;
    transition: all 0.9s ease;
    overflow: hidden;
  }
  .button__play:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }
  .button__play:hover {
    color: white;
  }
  .button__play:hover:after {
    background: #fff352;
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255, 1),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255, 1),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

/*Answers of every question*/
/* .respuestas__body {
    width: 100%;
    height: 100%;
    background-color: #46c7e8;
    justify-content: center;
    outline: none;
    text-align: center;
    margin:5px;
    transition: background-color 0.2s;
    cursor:pointer;
    color:white;
    border:0;
    border-radius: 10px;
}*/

.navbar{
    background-color: #131920;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color:#e3e3e3;
}

.navbar .nav-link {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    color:#e3e3e3!important;
    font-family: 'Sora', sans-serif;
}

.nav-links{
    margin-left: auto;
}

/*div que contingui totes les cartes*/
.game__cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__result{
    text-align: center;
}

.game__resultLetter{
    color:#eaeaeb;
    font-family: 'Sora', sans-serif;
}

/*tag tipus card*/
.game__card{
    background:#1e2833;
    border:2px solid #1e2833;
    color:#eaeaeb;
}

.game__modal{
    background-color: #181620;
}

.game__buttons_selection{
    background: #1e2833;
    border:2px solid #3b4c61;
    color: #eaeaeb;
    height: 100%;
    width: 100%;
    outline: none;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.2s;
}
.game__cardFooter {
    display: inline-flex;
    width: 10%;
    height: 5%;
    background-color: #1e2833;
    /* background-color: #161e27; */
    justify-content: center;
    border: 0.5px solid #3b4c61;
}

.game__answerCorrect {
    width: 100%;
    height: 100%;
    background-color: #066839;
    text-align: center;
}

.game__answerIncorrect {
    width: 100%;
    height: 100%;
    background-color: #7c162e;
    text-align: center;
}

@media only screen and(max-width:768px){
    .respuestas__body{
        width: 100%;
        height: 100%;
    }
    .question__card{
        max-width: 90vw;
    }
}

@media only screen and(max-width:992px){
    .question__card{
        max-width: 80vw;
        max-height: 70vh;
        height: 50rem;
    }
}

.ranking__text{
    color:#eaeaeb !important;
}

.errorsFields{
    color: red;

}

/*----- TABS of Login and Register -----*/
.nav-pills  .login__tab  .nav-link{
    background-color: rgb(99, 99, 121) !important;
}

.start__tituloDiv{
    color: #eaeaeb;
    font-family: 'Sora', sans-serif;
}
.start__tituloPrincipal{
    font-family: 'LeagueOfLegendsWebFont'!important;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color:#eaeaeb;
}

.start__dailyGameButton{
    background-color: #222;
    border: 1px white;
    border-radius: 50px;
}

.start__buttonDaily{
    background-color: #222;
    border: 1px white;
}


/*-----PROFILE CSS-----*/
.profile__div{
    text-align: center;
}

/* .profile__picture{
    position: relative;
    display: inline-block;
}

.profile__picture:hover .profile__editOption{
    display: block;
}*/

.profile__editOptions{
    opacity: 0.2;
} 

.profile__editOptions:hover{
    opacity: 1;
}

.profile__editButton{
    /* background: #a5a5d4 !important; */
}

.nav-pills .profile__tabsSelection .nav-link.active{
    background-color: rgb(99, 99, 121) !important;
}

.profile__backButton, .profile__logoutButton{
    background-color:#131920 !important;
    border-color: #131920 !important;
    color: #e3e3e3 !important;
}

.profile__backButton:hover, .profile__logoutButton:hover{
    border: 1px solid #3b4c61 !important;
    background-color: #3b4c61 !important;
    color: #e3e3e3 !important;;
}

.profile__userName{
    color: #e3e3e3 !important;
    font-size: 20px !important;
}

.profile__userScore{
    color: #e3e3e3 !important;
    font-size: 40px !important;
}
/* .profile__logoutButton{
    background-color:#131920 !important;
    border-color: #131920 !important;
} */

/*-----RECORD CSS-----*/
.record__header{
    background: #1e2833 !important;
    border:#1e2833 !important;
    color: #e3e3e3 !important;
}

.card-body .record_cardTexts{
    background: #3b4c61 !important;
    border:#3b4c61 !important;
    color: #e3e3e3 !important;
}

.friend__list{
    /* position:relative; */
}
.friends__cardtext .button__delete{
    float:right;
}

.friends__cardtext{
    background:#1e2833;
    border:2px solid #1e2833;
    color:#eaeaeb;
}

